<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<%= @link.title %>


<% if @content != nil %>  

it exisits


<% end %>

<%= @content.html_safe %>




<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
